<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

#### Add your code below following the instructions given in the course

## In this notebook, Data Science Tools and Ecosystem are summarized
**Objective of the course**
- Languages like Python and R are introduced.
- Environment for development is explained in details.
- Very good hands on experiments.
- Steps of data science are explained in details.
- On line tools are really helpful.

## Author
Sanwar Mal

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. panda
3. Numpy

# Data Science Tools and Ecosystem
### Data Science Tools

|Open source tools|Commercial tools |Cloud based tools  |
|-----------------|---------------- |-----------------  |
|1. MySQL         |1. Oracle        |1. Watson Studion  |
|2. Apache AirFlow|2. Magic Quadrant|2. Microsoft Azure |
|3. Kibana        |3. Tableau       |3. DynamoDB        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
# perform operation (3*4)+5
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
#one hour has 60 minutes
minutes = 200
hours =200/60
print(hours)

3.3333333333333335